@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html {
  font-size: 9px;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 10px;
  }
}
